**/.env
**/*.log
.DS_Store
**/.DS_Store
**/node_modules
.DS_Store
mdos-api/creds/*
mdos-docs/infra/mkdocs/mkdocs/site
mdos-setup/cloudflare.ini
mdos-setup/deprecated/*
mdos-setup/dep/mdos-api
mdos-setup/dep/certs
mdos-docs/.$architecture.drawio.bkp
mdos-docs/.$architecture.drawio.dtmp
mdos-docs/draw.io/.$architecture.drawio.bkp
mdos-docs/draw.io/.$architecture.drawio.dtmp
mdos-docs/infra/mkdocs/site
mdos-docs/infra/volumes/docs
ftp_target