**/.env
**/*.log
**/.DS_Store
**/node_modules
.DS_Store
mdos-docs/infra/mkdocs/mkdocs/site
mdos-setup/cloudflare.ini
mdos-setup/deprecated/*
mdos-setup/dep/mdos-api
mdos-docs/.$architecture.drawio.bkp
mdos-docs/.$architecture.drawio.dtmp
ftp_target